.overview {
  padding-top: 30px;
  padding-bottom: 15px;
  * { margin: 0; }
  h3 {
    font-weight: 900;
    margin-bottom: 15px;
  }
  display: flex;
  flex-wrap: wrap-reverse;
}

.short-description {
}

.skills {
  background-color: #f2f2f2;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  ul {
    margin: 0;
    padding-left: 25px;
  }
}

.half {
  padding: 20px;
  width: 100%;
  @media screen and (min-width: 600px) {
    float: left;
    width: 50%;
  }
}

.project-banner {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 200px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 600px) {
    height: 250px;
  }
}

.project-container {
  width: 100%;
  max-width: 1000px;
  @media screen and (min-width: 600px) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.project-footer {
  padding-top: 30px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 600;
}

.button-blue {
    background-color: white;
    color: black;
    border: 1px solid #555555;
}

.button-blue:hover {
    background-color: #555555;
    color: white;
}
